@import "@/variables.scss";

body {
  margin: 0;
  background-color: #312e2b;
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $gray;
}

.main-container {
  max-width: 1400px;
  margin: 0 auto;
}

.main-logo {
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
}

.multiselect__single, .multiselect__option span {
  text-transform: capitalize;
}