@import "@/variables.scss";

.main-menu {
  padding: 15px;
  &__button-area {
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  &__fighters {
    margin-top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    &-info {
      width: 30%;
    }
    &-versus {
      color: $white-gray;
    }
    &-img {
      width: 100px;
      margin-top: 50px;
    }
  }
}